<link rel="stylesheet" type="text/css" href="~/css/shows.css">




<main>
    <div class="container shows-container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 left-navigation">
                <!--id="affix3" data-spy="affix" data-offset-top="85"  -->
                <nav>
                    <ul id="filter">
                        <li><a href="#">@ArtareaNew.Resources.Index.ArtareaNews</a></li>
                        <li><a href="@Url.Action("Programs", "Program")" >@ArtareaNew.Resources.Index.VisualArt</a></li>
                        <li><a href="#">@ArtareaNew.Resources.Index.Music</a></li>
                        <li><a href="#">@ArtareaNew.Resources.Index.Literature</a></li>
                        <li><a href="#">@ArtareaNew.Resources.Index.Cinema</a></li>
                        <li><a href="#">@ArtareaNew.Resources.Index.Theatre</a></li>
                        <li><a href="#">@ArtareaNew.Resources.Index.Architecture</a></li>
                        <li><a href="#">@ArtareaNew.Resources.Index.Photography</a></li>
                        <li><a href="#">@ArtareaNew.Resources.Index.Culinary</a></li>
                        <li><a href="#">@ArtareaNew.Resources.Index.Education</a></li>
                        <li><a href="#">@ArtareaNew.Resources.Index.Society</a></li>
                        <li><a href="#">@ArtareaNew.Resources.Index.Different</a></li>
                        <li><a href="#">@ArtareaNew.Resources.Index.Archive</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-1 left-navigation-button">
                <!--  id="affix5" data-spy="affix" data-offset-top="85" -->
                <button id="open-button"><span class="glyphicon glyphicon-plus"></span></button>
                <button id="close-button"><span class="glyphicon glyphicon-minus"></span></button>
            </div>
            <div class="col-xs-11 col-sm-9 iframe-container">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" id="margin-bottom" id="margin-left">
                    <div class="iframe">
                        <iframe width="854" height="480" src="https://www.youtube.com/embed/EYsKrKMBWHo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="iframe-tittle">
                        <a href="@Url.Action("ProgramDetails", "Program")"><span>სათაური</span></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" id="margin-bottom" id="margin-left">
                    <div class="iframe">
                        <iframe width="854" height="480" src="https://www.youtube.com/embed/EYsKrKMBWHo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="iframe-tittle">
                        <a href="@Url.Action("ProgramDetails", "Program")"><span>სათაური</span></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" id="margin-bottom" id="margin-left">
                    <div class="iframe">
                        <iframe width="854" height="480" src="https://www.youtube.com/embed/EYsKrKMBWHo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="iframe-tittle">
                        <a href="@Url.Action("ProgramDetails", "Program")"><span>სათაური</span></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" id="margin-bottom" id="margin-left">
                    <div class="iframe">
                        <iframe width="854" height="480" src="https://www.youtube.com/embed/EYsKrKMBWHo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="iframe-tittle">
                        <a href="@Url.Action("ProgramDetails", "Program")"><span>სათაური</span></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" id="margin-bottom" id="margin-left">
                    <div class="iframe">
                        <iframe width="854" height="480" src="https://www.youtube.com/embed/EYsKrKMBWHo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="iframe-tittle">
                        <a href="@Url.Action("ProgramDetails", "Program")"><span>სათაური</span></a>
                    </div>
                </div>
            
             
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" id="margin-bottom" id="margin-left">
                    <div class="iframe">
                        <iframe width="854" height="480" src="https://www.youtube.com/embed/EYsKrKMBWHo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="iframe-tittle">
                        <a href=""><span>სათაური</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>